@import "tailwindcss";

/* Tungi rejim: <html data-theme="dark"> bo'lganda dark: klasslari ishlaydi */
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

/* Tema almashganda silliq o'tish */
html[data-theme] body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* Internet Explorer va eski Edge */
body {
  -ms-overflow-style: none;
}
